<!DOCTYPE html>
<html ng-app="directives">
  <head>
    <meta charset="utf-8">
    <title>  Angular Directives </title>
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />

      <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"> </script>
      <script type="text/javascript" src="bower_components/angular/angular.js"> </script>
  </head>
  <body class="container">
      <div ng-controller="DirectivesController as vm">
          <div ng-include="headerUrl"> </div>
            <div class=""> Your current locale: {{ locale }} </div>
 
          <div user-info-card>   </div>
          <div class="row-fluid" ng-repeat="url in vm.list">
                  <div class="span1"> </div>
                  <div class="span11"><a ng-click="vm.go(url)" href=""> {{ url }}</a> </div>
          </div>

        </div>

      <!-- module -->
      <script type="text/javascript" src="modules/directives.module.js"> </script>

      <!-- controller -->
      <script type="text/javascript" src="controllers/directives.controller.js"> </script>

      <!-- directives -->
      <script type="text/javascript" src="directives/user-info.directive.js"> </script>

  </body>
</html>
