<div class="panel panel-primary">
    <div class="panel panel-heading" ng-click="collapse()">
        {{ user.name }}
    </div>
    <div class="panel panel-body" ng-hide="collapsed">
        <address>  </address>
        <div><b> Friends </b>
          <ul>
            <li ng-repeat="friend in  user.friends">
               {{friend}}

              <!-- //Implementation with directive -->
              <!-- <span ng-hide="removing"class="glyphicon glyphicon-remove remove-button" ng-click="startRemoving()">
              </span>
              <span ng-show="removing">
                 <button class="btn btn-xs btn-success" ng-click="removeFriend(friend)">Remove</button>
                 <button class="btn btn-xs btn-warning" ng-click="cancel()">Cancel</button>
              </span> -->
              <remove-friend ></remove-friend>
              
            </li>
          </ul>
        </div>
        <div ng-show="user.rank"> <b>Rank:</b> {{ user.rank }} </div>
        <button ng-show="!user.rank" class="btn btn-succes" ng-click="promoteMeI(user)">Promote Me</button>
    </div>
</div>
