<div class="panel panel-primary">
    <div class="panel panel-heading">
        {{ vm.user.name }}
    </div>
    <div class="panel panel-body">
      <div ng-show="vm.user.address"> Address:
        <br/> Street: {{vm.user.address.street}}
         <br/> City: {{vm.user.address.city}}
         <br/> Planet: {{vm.user.address.planet}}

        <div>  Friends
          <ul>
            <li ng-repeat="friend in vm.user.friends">
               {{friend}}
            </li>
          </ul>
        </div>
        <div ng-show="vm.user.rank"> Rank: {{ vm.user.rank }} </div>
        <button ng-show="!vm.user.rank" class="btn btn-succes" ng-click="vm.promoteMe(user)">Promote Me</button>
    </div>
</div>
